@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body{
    font-family: "Fredoka", sans-serif;
    background-color: #041562;
}
/*Nota #01*/
/*podemos conectarnos desde nuestro CSS nuestras etiquetas en el HTML de 3 formas diferentes que veremos a continuacion:*/

/*Primera Forma: hacemos referencia directamente a la etiqueta ejemplo
h1{
    color: lightcoral;
}
*/

/*Segunda Forma: Primero tenemos que colocar en la etiqueeta de HTML la opcion de class (<h1 class = "tituli">mokemon</h1>)
.titulo{
    color: lightcoral;
}*/

/*Tercera Forma: Tenemos que colocarle a la etiqueta la opcion de id (<h1 id="titulo"> mokemon </h1>
.titulo{
    color: lightcoral;
}*/

.titulo{
    color: white;
    font-size: 32px ;
}

/*Nota #02 Tipos de Display en CSS
label{
    background-color: tomato;
    width: 310px;
    height: 50px;
}

input{
    background-color: aliceblue;
    width: 310px;
    height: 50px;
}

button{
    background-color: blueviolet;
    width: 310px;
    height: 50px;
}*/

/*Nota #03 Manejode Flex Box*/
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Nota #04 Modelo de Caja*/
.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none;
}

.subtitulo{
    color: white;
    font-size: 22px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}